@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #ececec;
    margin: 0;
    padding: 0;
    color: #505050;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

.header-link {
    text-decoration: none;
    color: #505050;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.version {
    font-size: 18px;
    margin: 0;
}

.placeholder-link {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.placeholder-rectangle {
    width: 100%;
    max-width: 800px;
    height: 480px;
    background-color: #ffffff;
}

.description {
    text-align: center;
    font-size: 14px;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.project-item {
    display: flex;
    flex-direction: column;
}

.item-content {
    background-color: #ffffff;
    aspect-ratio: 4 / 3;
}

.project-item p {
    margin: 10px 0 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 800px) {
    .placeholder-rectangle {
        height: 0;
        padding-bottom: 60%; /* Maintains 3:5 aspect ratio */
    }
    
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }
}